<% title "#{t 'models.task'}: #{@task.name}" %>

<p>
  <strong><%=t 'attributes.task.state' %>:</strong>
  <%= t("attributes.task.states.#{@task.state_name}") %>
  <%= image_tag("styles/#{STYLE}/task_state_#{@task.state}.png", {:title => t("attributes.task.states.#{@task.state_name}")}) if @task.state %>
</p>

<p>
  <strong><%=t 'attributes.task.manager' %>:</strong>
  <%=h toname(@task.manager.try(:email)) %>
</p>

<p>
  <strong><%=t 'attributes.task.user' %>:</strong>
  <%=h toname(@task.user.try(:email)) %>
</p>

<p>
  <strong><%=t 'models.users' %>:</strong>
  <%=h @task.users.map{|e| toname(e.email)}.join(', ') %>
</p>

<p>
  <strong><%=t 'attributes.task.project' %>:</strong>
  <%=h @task.project.try(:name) %>
</p>

<p>
  <strong><%=t 'attributes.task.name' %>:</strong>
  <%=h @task.name %>
</p>

<p>
  <strong><%=t 'attributes.task.description' %>:</strong>
  <%=h @task.description %>
</p>

<p>
  <strong><%=t 'attributes.task.code' %>:</strong>
  <%=h @task.code %>
</p>

<p>
  <strong><%=t 'attributes.task.expected_hours' %>:</strong>
  <%=h @task.expected_hours %>
</p>

<p>
  <strong><%=t :progress %>:</strong>
  <%= show_bar(@task.expected_hours, @tot_hours) %>
</p>

<p>
  <% str_activity = t("models.#{I18n_pluralize(@activities.size,'activity')}") %>
  <%= t 'sentences.task_activities1', :activities => @activities.size %>
  <%= link_to str_activity, activities_path(:code => @task.code), {:class => 'lightview', :rel => 'ajax', :title => "#{h @task.code} :: :: ajax: { method: 'get' }, width: 800, height: 500"} %>
  <% str_hour = t("attributes.activity.#{I18n_pluralize(@tot_hours,'hour')}") %>
  <%= t 'sentences.task_activities2', :hours => "#{@tot_hours} #{str_hour}" %>
</p>

<p>
  <%= link_to "#{t :new} #{t 'models.task'}", new_task_path %> |
  <%= link_to t(:edit), edit_task_path(@task) %> |
  <%= link_to t(:destroy), @task, :confirm => t(:sure?), :method => :delete %> |
  <%= link_to t(:back_to_list), tasks_path %>
</p>
