<% title "#{t 'models.project'}" %>


<p>
  <strong><%=t 'attributes.project.user' %>:</strong>
  <%=h @project.user %>
</p>

<p>
  <strong><%=t 'attributes.project.name' %>:</strong>
  <%=h @project.name %>
</p>

<p>
  <strong><%=t 'attributes.project.description' %>:</strong>
  <%=h @project.description %>
</p>


<p>

  <%= link_to "#{t :new} #{t 'models.project'}", new_admin_project_path %> |


  <%= link_to t(:edit), edit_admin_project_path(@project) %> |


  <%= link_to t(:destroy), [:admin, @project], :confirm => t(:sure?), :method => :delete %> |


  <%= link_to t(:back_to_list), admin_projects_path %>

</p>
