<% title "#{t 'models.users'}" %>

<table>
  <tr>

    <th><%= t 'attributes.user.email' %></th>

    <th><%= t 'attributes.user.confirmed_at' %></th>

  </tr>
  <% for user in @users %>
    <tr>

      <td><%=h user.email %></td>

      <td><%=h user.confirmed_at %></td>


      <td><%= link_to t(:show), [:admin, user] %></td>


      <td><%= link_to t(:edit), edit_admin_user_path(user) %></td>


      <td><%= link_to t(:destroy), [:admin, user], :confirm => t(:sure?), :method => :delete %></td>

    </tr>
  <% end %>
</table>


<p><%= link_to "#{t :new} #{t 'models.user'}", new_admin_user_path %></p>

