<% title "#{t 'models.activities'} #{@code}" %>

<% unless @code %>
  <%= render 'search' %>
<% end %>

<% html_pagination = will_paginate(@tasks) %>
<%= html_pagination %>
<table cellspacing="0" class="user">
  <thead>
    <tr>
      <th><%= t 'attributes.activity.task' %></th>
      <th><%= t 'attributes.activity.day' %></th>
      <th><%= t 'attributes.activity.hours' %></th>
      <th><%= t 'attributes.activity.description' %></th>
    </tr>
  </thead>
  <tbody>
  <% for activity in @activities %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=link_to(h(activity.task.try(:code)), activity.task, {:class => 'lightview', :rel => 'ajax', :title => "#{h activity.task.code} :: :: ajax: { method: 'get' }, width: 800, height: 500"}) if activity.task %></td>
      <td><%=h activity.day %></td>
      <td><%=h activity.hours %></td>
      <td><%=h truncate activity.description, :length => 200 %></td>
      <td><%= link_to t(:show), activity %></td>
      <td><%= link_to t(:edit), edit_activity_path(activity) %></td>
      <td><%= link_to t(:destroy), activity, :confirm => t(:sure?), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= html_pagination %>

<p>
  <%= link_to t(:back), root_path %> |
  <%= link_to "#{t :add} #{t 'models.activity'}", new_activity_path %>
</p>

